<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Email</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{{ asset('dontTouch/pictures/favicon.ico') }}" />
    </head>
    <body>
        <h1>Christmas Gift List</h1>
        <div class="container-fluid">
            <div class="col">
                <h2>My Wishlist</h2>
                {% for gift in gifts %}
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                      <div class="card-header">{{ gift.giftName }}</div>
                      <div class="card-body">
                        <h4 class="card-title">{{ gift.giftPrice }} euros</h4>
                        <img src="{{ gift.giftPictureUrl }}" height="200px" width="300px">
                      </div>
                    </div>
                {% endfor %}
                <p>Thanks Santa!</p>
                <p>Hélène</p>
            </div>
        </div>
    </body>
</html>
